.u-section-1 .u-sheet-1 {
  min-height: 713px;
}

.u-section-1 .u-group-1 {
  min-height: 390px;
  margin-top: 23px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  margin-bottom: 60px;
  margin-top: 16px;
  height: 210px;
}

.u-section-1 .u-input-1 {
  height: 56px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}